/* Don't change the existing CSS. Updated at 19:58 */

.box {
  background-color: blue;
  padding: 10px;
}

#outer-box{
  border: 10px solid purple;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

.white-text {
  background-color: red;
  color: white;
  padding: 10px 0px;
}